# Virtual environment
emf_devices_venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.so
.Python

# Environment
.env

# Alembic migrations (по желанию — если не нужно хранить историю)
# alembic/versions/

# IDE
.vscode/
.idea/

# MacOS
.DS_Store

# Логи
*.log
